@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
$main-tittle: "Montserrat";
$big-tittle: 600;
$regular-tittle: 400;

@import url("https://fonts.googleapis.com/css?family=Cabin:400,600");
$main-font: "Cabin";
$font-regular: 400;
$font-bold: 600;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");
