include ../config/config
<!DOCTYPE html>
html(lang="es")
    head

        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-176579971-1")
        script(src="js/google-analytics.js")

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(property="og:site_name" content="CUKY'S")
        meta(property="og:title" content="CUKY'S")
        meta(property="og:description" content="Carta menú Cuky's")
        meta(property="og:image" content="assets/img/cukys.png")
        link(rel="stylesheet" href="css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous")
        title Cukys
    body
        header#header.header
            block header
        include ../includes/burger-ingredients
        include ../includes/sandwich-ingredients
        include ../includes/guitar-ingredients
        include ../includes/baguette-ingredients
        include ../includes/pizza-ingredients
        include ../includes/panini-ingredients
        include ../includes/hotdog-ingredients
        include ../includes/starters-allergens
        include ../includes/kebab-ingredients
        include ../includes/icecream-flavors
        main.main
            block products
        footer.footer
            block footer
        script(src="js/scripts-min.js")

