//-Products
-const burgers = ['normal', 'CRISPY-CUKYS', 'con huevo', 'con bacon', 'con queso', 'super', 'PREMIUM VACUNO', 'HAMBURGUESA XL']
-const sandwiches = ['mixto', 'pollo', 'tintero', 'vegetal', 'especial']
-const guitars = ['jamón', 'pollo', 'lomo', 'tortilla + jamón']
-const baguettes = ['baguette vegetal', 'baguette atún', 'baguette jamón', 'baguette pollo', 'baguette bacon + queso', 'baguette tortilla francesa', 'baguette tortilla + jamón', 'baguette magreta', 'baguette lomo', 'baguette lomo fresco', 'baguette calamares', 'baguette salchichas', 'baguette especial']
-const pizzas = ['margarita', 'campera', 'carne picada (BBQ)', 'cangrejo', 'bacon', 'kebab', 'frankfurt', 'cuatro quesos', 'pollo y bacon', 'mini-pizza']
-const paninis = ['panini york', 'panini serrano', 'panini bacon', 'panini cangrejo', 'panini BBQ']
-const hotDogs = ['perrito caliente']
-const kebabs = ['pollo']
-const starters = ['nuggets (6 unidades)', 'croquetas (6 unidades)', 'empanadillas (6 unidades)', 'san Jacobos (2 unidades)', 'twister (10 unidades)', 'fingers (6 unidades)', 'torpedo (12 unidades)', 'delicias de pollo']
-const chips = ['ali-oli', 'bravas', 'rancheras', 'bacon-chedar', 'salchipapas']
-const waffles = ['nutella y nata montada', 'helado, nutella y nata']
-const crepes = ['nutella y nata montada', 'helado, chocolate y nata', 'chocolate blanco y nutella', 'piña, chocolate blanco y nata', 'melocotón, nutella y nata', 'york y queso']
-const iceCreams = ['tarrina pequeña', 'tarrina grande', 'copa 2 bolas', 'copa 3 bolas', 'blanco y negro', 'granizado', 'batidos']
-const drinks = ['refrescos', 'agua', 'cervezas', 'combinados']

//-Price products
-const priceBurgers = ['2,80€', '2,80€', '3,10€', '3,10€', '3,10€', '3,70€', '3,40€', '3,40€']
-const priceSandwiches = ['2,00€', '2,50€', '2,50€', '2,00€', '2,50€']
-const priceGuitars = ['3,50€', '3,50€', '3,50€', '3,50€']
-const priceBaguettes = ['2,50€', '2,50€', '2,80€', '2,80€', '2,80€', '2,50€', '2,80€', '2,80€', '2,80€', '2,80€', '2,80€', '2,80€', '2,80€']
-const pricePizzas = ['4,30€', '4,30€', '4,30€', '4,30€', '4,30€', '4,30€', '4,30€', '4,30€', '4,30€', '2,00€']
-const pricePaninis = ['2,00€', '2,00€', '2,00€', '2,00€', '2,00€']
-const priceHotDogs = ['2,00€']
-const priceKebabs = ['3,00€']
-const priceStarters = ['2,00€', '2,00€', '2,00€', '2,00€', '6,00€', '3,00€', '6,00€', '3,00€']
-const priceChips = ['3,50€', '3,50€', '3,50€', '3,50€', '3,50€']
-const priceWaffles = ['2,20€', '3,20€']
-const priceCrepes = ['2,00€', '3,00€', '2,00€', '3,00€', '3,00€', '3,00€']
-const priceIceCreams = ['2,00€', '3,00€', '3,00€', '4,00€', '3,00€', '2,00€', '3,00€']
-const priceDrinks = ['1,00€', '0,80€', '1,00€', '4,00€']

//-Ingredients Burgers
-const normalBurgerIngredients = ['tomate', 'lechuga', 'cebolla']
-const crispyCukysBurgerIngredients = ['lechuga', 'tomate', 'mahonesa', '+Extras 0,30€']
-const eggBurgerIngredients = ['tomate', 'lechuga', 'cebolla', 'huevo']
-const baconBurgerIngredients = ['tomate', 'lechuga', 'cebolla', 'bacon']
-const cheeseBurgerIngredients = ['tomate', 'lechuga', 'cebolla', 'queso']
-const superBurgerIngredients = ['tomate', 'lechuga', 'cebolla', 'huevo', 'bacon', 'queso']
-const premiumBovineBurgerIngredients = ['lechuga', 'tomate', 'cebolla', 'ternera', '+Extras 0,30€']
-const burgerXLBurgerIngredients = ['doble carne', 'lechuga', 'tomate', 'cebolla', '+Extras 0,30€']

//-Ingredients Sandwiches
-const mixSandwichIngredients = ['jamón york', 'queso']
-const chickenSandwichIngredients = ['tomate', 'lechuga', 'mahonesa', 'pollo']
-const inkwellSandwichIngredients = ['jamón york', 'queso', 'huevo']
-const vegetableSandwichIngredients = ['tomate', 'lechuga', 'pepino', 'atún', 'mahonesa']
-const specialSandwichIngredients = ['tortilla francesa', 'jamón york', 'queso', 'tomate', 'mahonesa']

//-Ingredients guitar
-const hamGuitarIngredients = ['tomate', 'lechuga', 'jamón', 'mahonesa']
-const chickenGuitarIngredients = ['tomate', 'lechuga', 'pollo', 'mahonesa']
-const loinGuitarIngredients = ['tomate', 'lechuga', 'lomo', 'mahonesa']
-const tortillaGuitarIngredients = ['tortilla francesa']

//-Ingredients baguette
-const vegetableBaguetteIngredients = ['cangrejo', 'atún', 'tomate', 'lechuga', 'mahonesa']
-const tunaBaguetteIngredients = ['atún', 'tomate', 'mahonesa']
-const hamBaguetteIngredients = ['jamón']
-const chickenBaguetteIngredients = ['pollo']
-const baconBaguetteIngredients = ['bacon', 'queso']
-const tortillaBaguetteIngredients = ['tortilla francesa']
-const hamTortillaBaguetteIngredients = ['tortilla francesa', 'jamón serrano', 'tomate', 'lechuga']
-const maigretteBaguetteIngredients = ['magreta']
-const loinBaguetteIngredients = ['lomo']
-const freshLoinBaguetteIngredients = ['lomo fresco']
-const squidBaguetteIngredients = ['raba de calamar', 'mahonesa']
-const sausagesBaguetteIngredients = ['salchichas']
-const specialBaguetteIngredients = ['tortilla francesa', 'jamón york', 'queso', 'tomate', 'mahonesa']

//-Ingredients pizzas
-const margaritaPizzaIngredients = ['jamón york', 'queso', 'tomate']
-const camperaPizzaIngredients = ['tomate', 'queso', 'jamón serrano']
-const mincePizzaIngredients = ['tomate', 'carne picada', 'queso']
-const crabPizzaIngredients = ['tomate', 'atún', 'queso', 'palitos de cangrejo']
-const baconPizzaIngredients = ['tomate', 'bacon', 'queso']
-const kebabPizzaIngredients = ['tomate', 'queso', 'pollo kebab']
-const frankfurtPizzaIngredients = ['tomate', 'queso', 'salchichas de frankfurt']
-const fourCheesePizzaIngredients = ['mozzarela', 'emental', 'edar', 'chedar']
-const baconChickenPizzaIngredients = ['tomate', 'queso', 'pollo', 'bacon']
-const miniPizzaIngredients = ['jamón york', 'queso', 'tomate']

//-Ingredients paninis
-const yorkPaniniIngredients = ['tomate', 'queso', 'jamón york']
-const hamPaniniIngredients = ['tomate', 'queso', 'jamón serrano']
-const baconPaniniIngredients = ['tomate', 'queso', 'bacon']
-const crabPaniniIngredients = ['tomate', 'queso', 'atún', 'palitos de cangrejo']
-const bbqPaniniIngredients = ['tomate', 'queso', 'carne picada', 'salsa BBQ']

//-Ingredients hot dog
-const hotDogIngredients = ['queso', 'patatas', 'mostaza', 'cebolla', 'mahonesa', 'kétchup']

//-Ingredients kebab
-const kebabIngredients = ['pollo', 'salsa kebab', 'remolacha', 'zanahoria', 'lechuga', 'tomate']

//-Flavors ice cream
-const iceCreamsFlavors = ['nata con nueces', 'fresa', 'straciatella', 'tarta de queso', 'milhojas', 'turrón', 'kinder', 'donette', 'oreo', 'vainilla', 'leche merengada', 'tres chocolates', 'chocolate blanco con conguitos']

