.products {
  height: 35px;
  background-color: $text-color3;
  padding-left: 1rem;
  color: $text-color;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);

  & h2 {
    margin: 0;
  }

}
