.products {
  height: 35px;
  background-color: $text-color3;
  padding-left: 1rem;
  color: $text-color;
  display: flex;
  align-items: center;
  border-radius: 15px;

  & h2 {
    margin: 0;
  }

}
