.products__items {
  & ol {
    margin-left: -1rem;

    & li {
      margin-bottom: .5em;
      margin-right: .5em;
      margin-left: .5rem;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 15px;
      }

    & .item1 {
      font-size: .9rem;
      margin-left: .5rem;
    }

    & .item2 {
      background-color: $primary-color;
      color: $text-color;
      padding: .23rem .4rem;
      border: none;
      border-radius: 15px;
      font-size: .6rem;
      box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.5);
      float: right;

      & i {
        margin-left: .3rem;
      }
    }

    & .item3 {
      font-size: .6rem;
      float: right;
      margin-top: .25rem;
      margin-right: .2rem;

      & .item4 {
        float: left;
        margin-right: .3rem;
        margin-top: -.23rem;
        & .ingredients__allergen2 {
          width: 18px;
        }
      }

    }

    & li:first-letter {
      text-transform: uppercase;
    }

  }

  & .item2 {
    cursor: pointer;
    background-color: $primary-color;
    color: $text-color;
    padding: .23rem .4rem;
    border-radius: 15px;
    font-size: .6rem;
  }

  & .flavors {
    float: left;
    margin-right: .5rem;
  }

  & .products__image {
    text-align: center;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 4fr 1fr;

    & li {
      & .item1 {
        font-size: 1.1rem;
      }

      & .item2 {
        font-size: .7rem;
        margin-top: .02rem;
      }

      & .item3 {
        font-size: 1rem;
      }
    }

    & .flavors {
      font-size: .7rem;
      margin-top: .02rem;
    }

    & .products__image {
      align-self: center;
      justify-content: center;
    }
  }

  @include laptop {

    & li {
      & .item1 {
        font-size: 1.2rem;
      }

      & .item2 {
        font-size: .8rem;
        margin-top: 0;
      }
    }

    & .flavors {
      font-size: .8rem;
      margin-top: .02rem;
    }
  }

}
