.products {
  height: 35px;
  //background: linear-gradient(to bottom, $text-color4 0%, $text-color4 25%, $text-color4 50%, $text-color2 75%, $text-color2 100%);
  background-color: $text-color3;
  padding-left: .5rem;
  color: $text-color;
  display: flex;
  align-items: center;
  border-radius: 15px;

  & h2 {
    margin: 0;
  }

  @include desktop {

  }
}
