#vegetable-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette vegetal +Bebida +Patatas
            p 4,30€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#tuna-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de atún +Bebida +Patatas
            p 4,30€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#ham-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de jamón +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#chicken-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de pollo +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#bacon-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de bacon y queso +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#tortilla-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de tortilla francesa +Bebida +Patatas
            p 4,30€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#hamtortilla-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de tortilla y jamón +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#maigrette-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de magreta +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#loin-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de lomo +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#freshloin-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de lomo fresco +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#squid-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de calamares +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#sausages-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette de salchichas +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#special-baguette-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Baguette especial +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/baguette-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
