#normal-burger-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Hamburguesa normal +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#crispycukys-burger-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Hamburguesa Crispy-Cukys +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#egg-burger-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Hamburguesa con huevo +Bebida +Patatas
            p 4,80€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#bacon-burger-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Hamburguesa con bacon +Bebida +Patatas
            p 4,80€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#cheese-burger-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Hamburguesa con queso +Bebida +Patatas
            p 4,80€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#super-burger-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Hamburguesa super +Bebida +Patatas
            p 5,40€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#premiumbovine-burger-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Hamburguesa premium vacuno +Bebida +Patatas
            p 5,00€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#burgerxl-burger-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Hamburguesa XL +Bebida +Patatas
            p 5,00€
            .ingredients__img
                img(src="assets/img/burger-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
