.footer-items
    p © Cuky's 2022 | Created by JoseMariaMQ
        a(href="https://github.com/JoseMariaMQ" target="_blank").footer-items__links
            i.fab.fa-github
        a(href="https://www.linkedin.com/in/josemariamq/" target="_blank").footer-items__links
            i.fab.fa-linkedin-in
        a(href="https://twitter.com/JoseMariaMQ" target="_blank").footer-items__links
            i.fab.fa-twitter
