#ham-guitar-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Guitarra de jamón +Bebida +Patatas
            p 5,00€
            .ingredients__img
                img(src="assets/img/guitar-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#chicken-guitar-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Guitarra de pollo +Bebida +Patatas
            p 5,00€
            .ingredients__img
                img(src="assets/img/guitar-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#loin-guitar-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Guitarra de lomo +Bebida +Patatas
            p 5,00€
            .ingredients__img
                img(src="assets/img/guitar-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#hamtortilla-guitar-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Guitarra tortilla jamón +Bebida +Patatas
            p 5,00€
            .ingredients__img
                img(src="assets/img/guitar-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
