h1.title
    span c
    span u
    span k
    span y
    span '
    span s
.topbar
    .topbar__icon
        a(href="https://api.whatsapp.com/send?phone=34633659747" target="_blank")
            i.fab.fa-whatsapp-square.fa-2x
    .topbar__icon
        a(href="tel:+34633659747")
            i.fas.fa-phone-square.fa-2x
    .topbar__icon
        a(href="https://www.facebook.com/cukispozuelo" target="_blank")
            i.fab.fa-facebook-square.fa-2x
    .topbar__icon
        a(href="https://www.instagram.com/cukys_pozuelo/" target="_blank")
            i.fab.fa-instagram-square.fa-2x
    .topbar__icon
        a(href="https://goo.gl/maps/bFPhWJWHZgdqYcK78" target="_blank")
            i.fas.fa-map-marker-alt.fa-2x
