#hotdog-hotdog-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Perrito caliente +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/hotdog-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
