#small-icecream-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#big-icecream-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#twoballscup-icecream-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#threeballscup-icecream-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/egg.svg' alt='egg')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#blackandwhite-icecream-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

#smoothie-icecream-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
