#chicken-kebab-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Kebab de pollo +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/kebab-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
