#york-panini-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Panini york +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/panini-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#ham-panini-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Panini serrano +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/panini-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#bacon-panini-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Panini bacon +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/panini-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#crab-panini-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Panini crangrejo +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/panini-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#bbq-panini-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Panini BBQ +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/panini-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
