#margarita-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Pizza margarita +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#campera-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Pizza campera +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#mince-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Pizza de carne picada +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#crab-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Pizza de cangrejo +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#bacon-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Pizza de bacon +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#kebab-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Pizza de kebab +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#frankfurt-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Pizza de frankfurt +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#fourcheese-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Pizza cuatro quesos +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#chickenbacon-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Pizza de pollo y bacon +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#mini-pizza-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Mini-Pizza +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/pizza-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
