#mix-sandwich-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Sandwich mixto +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/sandwich-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#chicken-sandwich-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Sandwich de pollo +Bebida +Patatas
            p 4,00€
            .ingredients__img
                img(src="assets/img/sandwich-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#inkwell-sandwich-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Sandwich tintero +Bebida +Patatas
            p 4,00€
            .ingredients__img
                img(src="assets/img/sandwich-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#vegetable-sandwich-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Sandwich vegetal +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/sandwich-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#special-sandwich-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Sandwich especial +Bebida +Patatas
            p 4,00€
            .ingredients__img
                img(src="assets/img/sandwich-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
