#nugget-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Nuggets +Bebida +Patatas
            p 4,00€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#croquette-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Croquetas +Bebida +Patatas
            p 7,00€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#dumpling-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/fish.svg' alt='fish')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Empanadillas +Bebida +Patatas
            p 4,00€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#sanjacobo-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p San jacobos +Bebida +Patatas
            p 4,00€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#twister-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/mollusks.svg' alt='mollusks')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Twister +Bebida +Patatas
            p 7,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#torpedo-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/mollusks.svg' alt='mollusks')

            h3 Con menú:
            p Torpedo +Bebida +Patatas
            p 7,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#chickendelicacies-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/mollusks.svg' alt='mollusks')

            h3 Con menú:
            p Delicias de pollo +Bebida +Patatas
            p 5,00€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#flamenquins-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/dairyProducts.svg' alt='dairy products')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')

            h3 Con menú:
            p Flamenquines +Bebida +Patatas
            p 4,00€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#popcornchicken-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/mollusks.svg' alt='mollusks')

            h3 Con menú:
            p Palomitas de pollo +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#chickenstrips-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/mollusks.svg' alt='mollusks')

            h3 Con menú:
            p Tiras de pollo +Bebida +Patatas
            p 5,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#prawnsinbatter-starter-allergens.lightbox
    .ingredients
        center
            h4 Alérgenos:
            img.ingredients__allergen(src='assets/img/gallery/gluten.svg' alt='gluten')
            img.ingredients__allergen(src='assets/img/gallery/mollusks.svg' alt='mollusks')
            img.ingredients__allergen(src='assets/img/gallery/sulfurDioxideSulphites.svg' alt='sulfur dioxide sulphites')
