#nuggets-starter-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Nuggets +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#croquettes-starter-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Croquetas +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#dumplings-starter-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Empanadillas +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#sanjacobo-starter-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p San jacobos +Bebida +Patatas
            p 3,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#twister-starter-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Twister +Bebida +Patatas
            p 6,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#fingers-starter-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Fingers +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#torpedo-starter-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Torpedo +Bebida +Patatas
            p 6,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")

#chickendelicacies-starter-menu.lightbox
    .ingredients
        center
            h4 Menú:
            p Delicias de pollo +Bebida +Patatas
            p 4,50€
            .ingredients__img
                img(src="assets/img/fried-min.png")
                img(src="assets/img/drink-min.png")
                img(src="assets/img/chips-min.png")
